{% extends 'base.html.twig' %}

{% block title %}WELCOME TO THE EMPLOYEE ID PAGE{% endblock %}

{% block nav %}{{ parent()}}{% endblock %}

{% block body %}

    <p>Empty Employee ID page</p>

{% endblock %}




