{% extends 'base.html.twig' %}

{% block title %}ORANGE HRM{% endblock %}

{% block nav %} {% include 'includes/pageNav.html.twig'%} {% endblock %}

{% block body %}
    <p>Empty Leave Page</p>
{% endblock %}

{% block javascripts %}{% endblock %}



