{% extends 'base.html.twig' %}

{% block title %}WELCOME TO THE LEAVE PAGE{% endblock %}

{% block nav %}{{ parent()}}{% endblock %}

{% block body %}

    <p>Empty Leave Page</p>

{% endblock %}




